{% extends 'security_layout.html.twig' %}

{% block title %}Hello TemplateController!{% endblock %}

{% block body %}
<main>
    <div class="connexion">
        <form action="{{ path('app_template_form') }}">
            <h3>Connexion</h3>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Adresse email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary">Connexion</button>
            </div>

        </form>
    </div>
</main>
{% endblock %}
