<form method="post" action="{{ path('app_brasserie_delete', {'id': brasserie.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette brasserie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brasserie.id) }}">
    <button class="btn btn-danger mt-5">Supprimer</button>
</form>
